<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('partials/head') %>
      <title>Project Details</title>
    </head>    
    <body>

        <%- include('partials/header') %>

      <main class='container flex-container'>
        <div>
          <h2><%= projectData.title %></h2>
          <h3>Deadline: <%= projectData.dueDate.toLocaleDateString([], { year: 'numeric' , month: 'long' , day: '2-digit', timeZone:'UTC'}) %></h3>
          <h4>Team Members: <%= projectData.teamMembers %></h4>
          <h4>Description:</h4>
          <p><%= projectData.description %></p>
        </div>
      
        <div data-id='<%=projectData._id%>'>
          <button id='mark-complete-button'>
            Mark Complete<i class="fas fa-check-circle"></i>
          </button>
          <a href='/dashboard' role='button' class='contrast outline' id='back-to-projects'>Back to Projects</a>
          <button id='delete-project-button' class='delete-project'>
            Delete Project<i class="fa-sharp fa-solid fa-xmark"></i>
          </button> 
        </div>
      
      </main>

      <%- include('partials/footer') %>
      <script src='/js/project.js'></script>

    </body>
</html>